# backend Python
__pycache__/
*.pyc

# venv
/.venv/
/venv/
/env/


# allow GitOps values
!k8s/env/**

# (선택) 로컬에서만 쓰는 민감 파일은 따로 무시
k8s/env/**/secrets*.yaml
k8s/env/**/.env


# env files
.env

# JetBrains
.idea/
*.iml

# config
.claude/


#interpreter_packages.txt


# frontend react
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# iamgefile
.upload/

#test file
test/
tmp_receipt/
AI/review/test/
AI/review/tmp_receipt/

# uploads
/uploads
AI/**/data/chroma/
.claude/worktrees/
