.capture-root {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 260px;
}

/* preview */

.preview-root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.preview-image {
  flex: 1;
  object-fit: contain;
  background: black;
}

.preview-controls {
  position:absolute;
  top: 20px;
  right: 20px;
}

/* upload fallback */

.upload-fallback {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* inline upload */

.upload-inline {
  position: absolute;
  top: 10px;
  right: 10px;
}